html {
    font-family: sans-serif;
}

    /*
#fractal-perlin-canvas {
    border: 1px solid red;
}
    */

input[type="text"] {
    width: 4em;
}

.border {
    display: inline-block;
    padding: 0.5em 1em 0.5em 1em;
    border: 1px solid black;
}